<div class="footer">
    <div class="pull-right">
        AEGIS Productivity Platform
    </div>
    <div>
        <strong>Copyright</strong> PT. Aegis Ultima Teknologi &copy; 2014-2017
    </div>
</div>
